@import "./utilities/variables";
@import "./utilities/extend";

footer {
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;

    .footer__container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 1;

        .footer--logo {
            @extend %sm-logo-footer;
        }

        .footer__social {
            display: flex;
            align-items: flex-start;
            gap: 3rem;

            a {
                color: $sm-white-text;
                font-size: 3rem;
                text-decoration: none;
            }
        }
    }

    .footer__tagline {
        font-size: 1.2rem;
        font-weight: 100;
        font-family: $sm-text;
        color: $sm-white-text;
        margin-top: 1.6rem;
    }

}