@import "./utilities/variables";
@import "./utilities/extend";

.header__layout {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 2.4rem;
    width: 100%;
    height: fit-content;
    background-color: transparent;
    backdrop-filter: blur(0.7em);
    z-index: 1000;

    .header__layout--logo {
        @extend %sm-logo;
        transition: all 0.3s ease-in-out;

        &:hover {
            transform: scale(1.1);
            text-decoration: none;
        }
    }

    .nav__layout {
        display: flex;
        justify-content: end;
        gap: 1rem;

        .nav--link {
            @extend %sm-nav-link;
            transition: all 0.3s ease-in-out;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

}

.nav__toggle--icon {
    display: none;
    text-decoration: none;
    color: $sm-white;
    font-size: 3rem;
    font-weight: 700;
    padding: 10px;
    font-family: $sm-titles;
    cursor: pointer;

}

@media screen and (max-width: 768px) {
    .header__layout {
        justify-content: space-between;

        .nav__layout {
            display: none;
        }

        .nav__layout--on {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            left: 0px;
            height: 100vh;
            width: 70%;
            gap: 4rem;
            transition: all 0.3s ease-in-out;

            .nav--link {
                text-decoration: none;
                color: $sm-white;
                font-size: 1.6rem;
                font-weight: 700;
                padding: 10px;
                font-family: $sm-titles;
                cursor: pointer;
                padding: .5rem 1rem;
            }
        }

        .nav__layout.nav__layout--on {
            transition: all 0.3s ease-in-out;
        }
    }

    .nav__toggle--icon {
        display: block;
    }
}

@media screen and (max-width: 2400px) {
    .nav__layout--on {
        display: flex;

        .nav--link {
            text-decoration: none;
            color: $sm-white;
            font-size: 1.6rem;
            font-weight: 700;
            padding: 10px;
            font-family: $sm-titles;
            cursor: pointer;
            padding: .5rem 1rem;
            transition: all 0.3s ease-in-out;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}