@import"./utilities/variables";
@import "./utilities/extend";


.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .hero__container {
        padding: 2.4rem;
        .hero__logo {
            @extend %sm-hero;
        }
        .hero__tagline {
            @extend %sm-hero-tag;
        }
    }
}