@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;300;400;700&family=Roboto:wght@300;400;700&display=swap');
@import"./utilities/variables";
@import "./utilities/extend";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100vh;
    font-size: 62.5%;
    scroll-behavior: smooth;
    background-color: #0d0d0d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    color: $sm-white;
}

p {
    font-family: 'JetBrains Mono', monospace;
    color: $sm-white-text;
}