@import"./variables";

%sm-logo {
    font-family: $sm-titles;
    font-size: 5rem;
    font-weight: 700;
    color: $sm-white;
    text-decoration: none;
}

%sm-logo-footer {
    font-family: $sm-titles;
    font-size: 3rem;
    font-weight: 700;
    color: $sm-white;
    text-decoration: none;
}

%sm-hero {
    font-family: $sm-titles;
    font-size: 14rem;
    font-weight: 700;
    color: $sm-white;
}

@media screen and (min-width: 1024px) {
    %sm-hero {
        font-size: 25rem;
    }
}

%sm-hero-tag {
    font-family: $sm-text;
    font-size: 1.6rem;
    font-weight: 300;
    color: $sm-white-text;
    padding: 0 1rem;
    width: 300px;
}

%sm-text {
    font-family: $sm-text;
    font-size: 1.6rem;
    font-weight: 100;
    color: $sm-white-text;
    text-decoration: none;
}

%sm-title {
    font-family: $sm-titles;
    font-size: 2.5rem;
    font-weight: 700;
    color: $sm-white;
    text-decoration: none;
}

%sm-subtitle {
    font-family: $sm-text;
    font-size: 2rem;
    font-weight: 500;
    color: $sm-white;
    text-decoration: none;
}


%sm-button-skill {
    font-family: $sm-text;
    font-size: 1.6rem;
    font-weight: 500;
    color: $sm-white-text;
    text-align: center;
}

%sm-nav-link {
    text-decoration: none;
    color: $sm-white;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 10px;
    font-family: $sm-titles;
    cursor: pointer;
    padding: .5rem 1rem;
}

%sm-main-display {
    display: flex;
    flex-direction: column;
    z-index: 1;

    h2 {
        @extend %sm-title;
        margin-bottom: 1.6rem;
    }

    h3 {
        @extend %sm-subtitle;
    }

    p {
        text-align: justify;
        @extend %sm-text;
    }
}

%sm-skill-size {
    width: 80px;
    height: 80px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}

%sm-skill-logo {
    font-size: 5rem;
    color: $sm-white;
}

%sm-adobe {
    p {
        font-family: $sm-titles;
        font-size: 4rem;
        font-weight: 700;
        color: $sm-white
    }
}

%sm-form-input {
    width: 100%;
    background-color: transparent;
    border: 1px solid $sm-white;
    border-radius: 3px;
    font-family: $sm-text;
    font-size: 1.6rem;
    color: $sm-white;
    padding: 1rem;
}