@import"./variables";

%sm-logo {
    font-family: $sm-titles;
    font-size: 2.5rem;
    font-weight: 700;
    color: $sm-white;
    text-decoration: none;
}

%sm-hero {
    font-family: $sm-titles;
    font-size: 14rem;
    font-weight: 700;
    color: $sm-white;
}

@media screen and (min-width: 1024px) {
    %sm-hero {
        font-size: 24rem;
    }
}

%sm-hero-tag {
    font-family: $sm-text;
    font-size: 1.6rem;
    font-weight: 300;
    color: $sm-white-text;
}

%sm-text {
    font-family: $sm-text;
    font-size: 1.6rem;
    font-weight: 700;
    color: $sm-white-text;
    text-decoration: none;
}

%sm-title {
    font-family: $sm-titles;
    font-size: 2.5rem;
    font-weight: 700;
    color: $sm-white;
    text-decoration: none;
}

%sm-button-skill {
    font-family: $sm-text;
    font-size: 1.6rem;
    font-weight: 700;
    color: $sm-white;
    text-decoration: none;
}

%sm-nav-link {
    text-decoration: none;
    color: $sm-white;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 10px;
    font-family: $sm-titles;
    cursor: pointer;
    padding: .5rem 1rem;
}