$sm-negro: #0d0d0d;
$sm-gray: rgba(#2d2d2d, $alpha: 0.7%);
$sm-dark-gray: rgba(#3d3d3d, $alpha: 0.2%);
$sm-white: whitesmoke;
$sm-white-text: rgba($color: whitesmoke, $alpha: 0.7);
$sm-titles:'Roboto',
sans-serif;
$sm-text: 'JetBrains Mono',
monospace;